@import "./variables";

.swal2-container.swal2-top-end>.swal2-popup,
.swal2-container.swal2-top-right>.swal2-popup {
    background-color: $purple;
}

.swal2-timer-progress-bar {
    background-color: $deep_dark;
}

.swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid rgb(22 29 49);
}

.swal2-title {
    color: white;
}

.swal2-popup {
    background-color: #3b3779;
}

.pace .pace-progress{
    z-index: 999999;
}

.table_actions {
    position: relative;
    display: inline-block;

    &:hover {
        ul {
            right: 100%;
            transform: translate(0%, -50%) scale(1);

            li {
                opacity: 1;

                @for $i from 1 through 6 {
                    &:nth-child(#{$i}) {
                        margin-left: 0px;
                    }
                }
            }
        }
    }

    ul {
        min-width: 185px;
        width: min-content;
        padding: 10px 20px;
        list-style-type: none;
        right: 50%;
        overflow: hidden;
        transition-duration: .3s;
        position: absolute;
        z-index: 99;
        background-color: #283046;
        box-shadow: 0 4px 24px 0 rgb(0 0 0 / 24%);
        border-radius: 3px;
        text-align: left;
        top: 50%;
        transform: translate(50%, -50%) scale(0);

        li {
            margin: 0px 0px;
            transition-duration: .2s;
            opacity: 0;

            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    margin-left: ($i * 10px);
                    transition-delay: ($i * .15s);
                }
            }

            a {
                color: $white;
                transition-duration: .3s;
                text-transform: capitalize;
                display: block;
                padding: .65rem 1.28rem;

                &:hover {
                    // color: $purple;
                    padding-left: 10px;
                    background: rgba(115, 103, 240, .12);
                    color: #7367F0;
                }

                &:active {
                    background-color: #7367F0;
                    color: #FFF;
                }

                i {
                    width: 20px;
                }
            }
        }
    }
}

.error{
    padding-top: 5px;
}

.details_table{
    tr{
        td{
            &:nth-child(1){
                width:140px;
                max-width: 200px;
                font-weight: bold;
                text-transform: capitalize;
                text-align: right;
            }
            &:nth-child(2){
                padding-left: 30px;
                padding-right: 30px;
            }
            padding: 10px 2px;
        }
    }
}

.list_card {
    margin-bottom: 0;

    .card-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 15px 25px;
    }

    .card-body {
        min-height: 300px;
        max-height: calc(100vh - 280px);
        overflow-y: scroll;
        padding-top: 0;
        padding-bottom: 0;
        @extend .custom_scroll;

        .table>:not(caption)>*>* {
            padding: 9px 2rem;
        }
    }

    thead {
        position: sticky;
        top: -1px;
        left: 0;
        border-bottom: 0;
        z-index: 1;

        th,
        td {
            text-align: center;

            &[aria-label="actions"] {
                width: 100px;
            }

            &[aria-label="id"] {
                width: 90px;
            }
        }
    }

    tbody {
        tr {
            &:last-child {
                td {
                    .table_actions {
                        &:hover {
                            ul {
                                transform: translate(0, 0) scale(1);
                                top: unset;
                                bottom: -15px;
                            }
                        }
                    }
                }
            }
            
            &:first-child {
                td {
                    .table_actions {
                        &:hover {
                            ul {
                                transform: translate(0, 0) scale(1);
                                top: 0;
                                bottom: unset;
                            }
                        }
                    }
                }
            }

            

            td {
                text-align: center;
            }
        }
    }

    .show-limit {
        padding-top: 6px;

        span {
            font-weight: bold;
            padding-left: 4px;
            padding-right: 4px;
        }

        select {
            border-radius: 5px;
        }
    }
}

.upload_demo_form{
    position: fixed;
    top: 90vh;
    right: 10px;
    height: 40px;
    width: 40px;
    border: 1px solid $light_dark;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    z-index: 99999;
}

.loader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;

    &.active{
        visibility: visible;
        opacity: 1;
    }

    .loader_body {
        min-height: 250px;
        min-width: 320px;
        background-color: $light_dark;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
        position: relative;
        .progress{
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: 0;
            background-color: $purple;
        }
        .load_amount {
            display: flex;
            gap: 3px;
            border: 1px solid $white;
            height: 80px;
            width: 80px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            h5,
            h4 {
                color: $white;
                margin-bottom: 0;
            }
        }
    }
}
