@tailwind preflight;
.container{
    width: 100%
}
@media (min-width: 640px){
    .container{
        max-width: 640px
    }
}
@media (min-width: 768px){
    .container{
        max-width: 768px
    }
}
@media (min-width: 1024px){
    .container{
        max-width: 1024px
    }
}
@media (min-width: 1280px){
    .container{
        max-width: 1280px
    }
}
@media (min-width: 1536px){
    .container{
        max-width: 1536px
    }
}
.fixed{
    position: fixed
}
.relative{
    position: relative
}
.top-0{
    top: 0px
}
.right-0{
    right: 0px
}
.float-right{
    float: right
}
.mx-auto{
    margin-left: auto;
    margin-right: auto
}
.my-4{
    margin-top: 1rem;
    margin-bottom: 1rem
}
.my-3{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem
}
.ml-1{
    margin-left: 0.25rem
}
.mt-2{
    margin-top: 0.5rem
}
.mr-2{
    margin-right: 0.5rem
}
.ml-2{
    margin-left: 0.5rem
}
.mt-4{
    margin-top: 1rem
}
.ml-4{
    margin-left: 1rem
}
.mt-8{
    margin-top: 2rem
}
.ml-12{
    margin-left: 3rem
}
.-mt-px{
    margin-top: -1px
}
.mb-0{
    margin-bottom: 0px
}
.mb-4{
    margin-bottom: 1rem
}
.mb-2{
    margin-bottom: 0.5rem
}
.mb-3{
    margin-bottom: 0.75rem
}
.mb-1{
    margin-bottom: 0.25rem
}
.ml-auto{
    margin-left: auto
}
.mt-3{
    margin-top: 0.75rem
}
.mt-5{
    margin-top: 1.25rem
}
.mt-1{
    margin-top: 0.25rem
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.table{
    display: table
}
.grid{
    display: grid
}
.list-item{
    display: list-item
}
.hidden{
    display: none
}
.h-5{
    height: 1.25rem
}
.h-8{
    height: 2rem
}
.h-16{
    height: 4rem
}
.min-h-screen{
    min-height: 100vh
}
.w-5{
    width: 1.25rem
}
.w-8{
    width: 2rem
}
.w-auto{
    width: auto
}
.max-w-xl{
    max-width: 36rem
}
.max-w-6xl{
    max-width: 72rem
}
.cursor-pointer{
    cursor: pointer
}
.grid-cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr))
}
.flex-row{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row
}
.items-center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
.justify-center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}
.gap-2{
    gap: 0.5rem
}
.gap-1{
    gap: 0.25rem
}
.overflow-hidden{
    overflow: hidden
}
.rounded-lg{
    border-radius: 0.5rem
}
.rounded{
    border-radius: 0.25rem
}
.rounded-sm{
    border-radius: 0.125rem
}
.border{
    border-width: 1px
}
.border-t{
    border-top-width: 1px
}
.border-r{
    border-right-width: 1px
}
.border-gray-200{
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity))
}
.border-gray-400{
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity))
}
.bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.bg-gray-100{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}
.p-6{
    padding: 1.5rem
}
.p-3{
    padding: 0.75rem
}
.p-4{
    padding: 1rem
}
.p-5{
    padding: 1.25rem
}
.p-2{
    padding: 0.5rem
}
.p-0{
    padding: 0px
}
.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem
}
.px-4{
    padding-left: 1rem;
    padding-right: 1rem
}
.px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.py-5{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}
.px-1{
    padding-left: 0.25rem;
    padding-right: 0.25rem
}
.py-1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.pt-8{
    padding-top: 2rem
}
.pt-2{
    padding-top: 0.5rem
}
.pb-5{
    padding-bottom: 1.25rem
}
.pb-0{
    padding-bottom: 0px
}
.text-left{
    text-align: left
}
.text-center{
    text-align: center
}
.text-right{
    text-align: right
}
.text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem
}
.text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem
}
.font-semibold{
    font-weight: 600
}
.uppercase{
    text-transform: uppercase
}
.lowercase{
    text-transform: lowercase
}
.capitalize{
    text-transform: capitalize
}
.italic{
    font-style: italic
}
.leading-7{
    line-height: 1.75rem
}
.tracking-wider{
    letter-spacing: 0.05em
}
.text-gray-200{
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}
.text-gray-300{
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
}
.text-gray-400{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}
.text-gray-500{
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
.text-gray-600{
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
}
.text-gray-700{
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.text-gray-900{
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}
.underline{
    text-decoration-line: underline
}
.antialiased{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.opacity-0{
    opacity: 0
}
.shadow{
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.filter{
    -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
            filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
@media (prefers-color-scheme: dark){
    .dark\:bg-gray-900{
        --tw-bg-opacity: 1;
        background-color: rgb(17 24 39 / var(--tw-bg-opacity))
    }
}
@media (min-width: 640px){
    .sm\:items-center{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center
    }
    .sm\:justify-start{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start
    }
    .sm\:px-6{
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .sm\:pt-0{
        padding-top: 0px
    }
}
@media (min-width: 1024px){
    .lg\:px-8{
        padding-left: 2rem;
        padding-right: 2rem
    }
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiY3NzL3RhaWx3aW5kL3RhaWx3aW5kLmNzcyIsIm1hcHBpbmdzIjoiQUFBQSxtQkFBbUI7QUFDbkI7SUFBQTtBQUFvQjtBQUFwQjtJQUFBO1FBQUE7SUFBb0I7QUFBQTtBQUFwQjtJQUFBO1FBQUE7SUFBb0I7QUFBQTtBQUFwQjtJQUFBO1FBQUE7SUFBb0I7QUFBQTtBQUFwQjtJQUFBO1FBQUE7SUFBb0I7QUFBQTtBQUFwQjtJQUFBO1FBQUE7SUFBb0I7QUFBQTtBQUNwQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQSxpQkFBbUI7SUFBbkI7QUFBbUI7QUFBbkI7SUFBQSxnQkFBbUI7SUFBbkI7QUFBbUI7QUFBbkI7SUFBQSxtQkFBbUI7SUFBbkI7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQSxvQkFBbUI7SUFBbkIsb0JBQW1CO0lBQW5CO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUEsOEJBQW1CO0lBQW5CLDZCQUFtQjtRQUFuQix1QkFBbUI7WUFBbkI7QUFBbUI7QUFBbkI7SUFBQSx5QkFBbUI7UUFBbkIsc0JBQW1CO1lBQW5CO0FBQW1CO0FBQW5CO0lBQUEsd0JBQW1CO1FBQW5CLHFCQUFtQjtZQUFuQjtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBLHNCQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBLHNCQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBLGtCQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBLGtCQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBLGlCQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBLGtCQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBLG9CQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBLG9CQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBLHFCQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBLG9CQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUEsbUJBQW1CO0lBQW5CO0FBQW1CO0FBQW5CO0lBQUEsbUJBQW1CO0lBQW5CO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUE7QUFBbUI7QUFBbkI7SUFBQSxvQkFBbUI7SUFBbkI7QUFBbUI7QUFBbkI7SUFBQSxvQkFBbUI7SUFBbkI7QUFBbUI7QUFBbkI7SUFBQSxvQkFBbUI7SUFBbkI7QUFBbUI7QUFBbkI7SUFBQSxvQkFBbUI7SUFBbkI7QUFBbUI7QUFBbkI7SUFBQSxvQkFBbUI7SUFBbkI7QUFBbUI7QUFBbkI7SUFBQSxvQkFBbUI7SUFBbkI7QUFBbUI7QUFBbkI7SUFBQSxvQkFBbUI7SUFBbkI7QUFBbUI7QUFBbkI7SUFBQTtBQUFtQjtBQUFuQjtJQUFBLG1DQUFtQjtJQUFuQjtBQUFtQjtBQUFuQjtJQUFBO0FBQW1CO0FBQW5CO0lBQUEsMEVBQW1CO0lBQW5CLDhGQUFtQjtJQUFuQiwrR0FBbUI7WUFBbkI7QUFBbUI7QUFBbkI7SUFBQSx5TEFBbUI7WUFBbkI7QUFBbUI7QUFGbkI7SUFBQTtRQUFBLG1CQ0FBO1FEQUE7S0NBQTtDQUFBO0FEQUE7SUFBQTtRQUFBLDBCQ0FBO1lEQUEsdUJDQUE7Z0JEQUE7S0NBQTtJREFBO1FBQUEsd0JDQUE7WURBQSxxQkNBQTtnQkRBQTtLQ0FBO0lEQUE7UUFBQSxxQkNBQTtRREFBO0tDQUE7SURBQTtRQUFBO0tDQUE7Q0FBQTtBREFBO0lBQUE7UUFBQSxtQkNBQTtRREFBO0tDQUE7Q0FBQSIsInNvdXJjZXMiOlsid2VicGFjazovLy8uL3Jlc291cmNlcy90YWlsd2luZC90YWlsd2luZC5jc3MiLCJ3ZWJwYWNrOi8vLzxubyBzb3VyY2U+Il0sInNvdXJjZXNDb250ZW50IjpbIkB0YWlsd2luZCBwcmVmbGlnaHQ7XHJcbkB0YWlsd2luZCBjb21wb25lbnRzO1xyXG5AdGFpbHdpbmQgdXRpbGl0aWVzO1xyXG4iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/